html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  /*background-image: linear-gradient(180deg, #bce5ff 0, #9db9f2 50%, #7e8fb3 100%);*/
  /*background-image: linear-gradient(180deg, #cdc3ff 0, #9d9df2 50%, #7278b7 100%);*/
  }
  *{
      margin: 0px;
      padding: 0px;
      font-family: Avenir, sans-serif;
  }
  .cursor{
      cursor: pointer;
  }
  nav{
      width: 100%;
      margin: 0 auto;
      background-color: black;
      position: sticky;
      top: 0px;
  }
  
  nav ul{
      list-style-type: none;
  }
  
  nav ul li{
      float: right;
      width: 10%;
      text-align: center;
      position: relative;
  }
  
  nav ul::after{
      content: "";
      display: table;
      clear: both;
  }
  
  
  /*texte de la barre de nav */
  nav a{
      display: block;
      text-decoration: none;
      color: lightblue;
      border-bottom: 2px solid transparent;
      padding: 15px 0px;
  }
  
  /*quand on passe la souris sur le a*/
  nav a:hover{
      color: orange;
      border-bottom: 2px solid gold;
  }
  
  .sous{
      display: none;
      box-shadow: 0px 1px 2px #CCC;
      background-color: white;
      position: absolute;
      width: 100%;
      z-index: 1000;
  }
  nav > ul li:hover .sous{
      display: block;
  }
  .sous li{
      float: none;
      width: 100%;
      text-align: left;
  }
  
  /*texte du menu déroulant */
  .sous a{
      padding: 10px;
      border-bottom: none;
      color: black;
  }
  .sous a:hover{
      border-bottom: none;
      background-color: RGBa(200,200,200,0.1);
  }
  .deroulant > a::after{
  
      font-size: 12px;
  }
  
  .conteneur{
    margin: 50px 20px;
    height: 1500px;
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  /*Modifier onglet(ajouter, modifier)*/
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    /*color: linear-gradient(180deg, #bce5ff 0, #9db9f2 50%, #7e8fb3 100%);*/
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    /*border de ajouter et modifier*/
    border: solid;
    border-width: 1px;
  
  }
  /*Hover de la box*/
  .login-box a:hover {
    background: #03e9f4;
    /*background: linear-gradient(180deg, #bce5ff 0, #9db9f2 50%, #7e8fb3 100%);*/
    color: #fff;
    border-radius: 5px;
  }
  /*marge pour déplacer le bouton déplacer à droite*/
  #ajouter{
    margin-right: 5%;
  }
   /* animation fluorescent
   box-shadow: 0 0 5px #03e9f4,
               0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }*/
  /*
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }*/